{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    <div id="projects-list">
    {{ range .Pages }}
    <article class="post project-card">
        <header class="post__header">
            <h1 class="post__title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>
        </header>
        {{ with .Params.description }}
        <p class="post__description">{{ . }}</p>
        {{ end }}
        {{ if .Content }}
        <div class="post__content">
            {{ .Content | truncate 150 }}
        </div>
        {{ end }}
        {{ if or .Params.repo .Params.demo .Params.link }}
        <p class="post__tags project__links">
            {{ with .Params.repo }}
            <a href="{{ . }}" target="_blank" rel="noopener">#repo</a>
            {{ end }}
            {{ with .Params.demo }}
            <a href="{{ . }}" target="_blank" rel="noopener">#demo</a>
            {{ else }}
            {{ with .Params.link }}
            <a href="{{ . }}" target="_blank" rel="noopener">#link</a>
            {{ end }}
            {{ end }}
        </p>
        {{ end }}
    </article>
    {{ end }}
    </div>
{{ end }}
