---
title: "Home"
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---
<div id="canvas-container">
</div>

<script>
let duckModel;

function preload() {
  duckModel = loadModel('/img/duck/12248_Bird_v1_L2.obj', true);
}

function setup() {
  let canvas = createCanvas(400, 400, WEBGL);
  canvas.parent("#canvas-container");
  canvas.style("margin", "0 auto");
  canvas.style("display", "block");
  //canvas.style("border", "1px solid #fff");
}
let velX = 0.01;
let velY = 0.01;
function draw() {
  if(frameCount % 300 === 0){
    velX = random(-0.1, 0.1);
    velY = random(-0.01, 0.01);
    clear()
  }
  //clear()
  rotateY(noise(frameCount * velY) * TWO_PI);
  rotateX(frameCount * velX);
  scale(noise(frameCount * 0.025) * 3);
  normalMaterial();
  if (duckModel) {
    model(duckModel);
  }
}
</script>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>