---
title: "Home"
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
CYBSEC / DEVOPS / CODING / HACKING 
</p>
<script>
function setup() {
  createCanvas(400, 400);
}
function draw() {
  background(220);
  fill(255, 0, 0);
  ellipse(200, 200, 50, 50);
}
</script>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>