{{- $hasSearch := and (eq .Kind "section") (eq .Section "posts") -}}
<!DOCTYPE html>
<html lang="{{- site.Language.Locale -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page{{ if $hasSearch }} page--has-search{{ end }}">

            <header class="page__header">
                <div class="titlebar">
                    <span class="titlebar__path">{{- $path := strings.TrimSuffix "/" .RelPermalink -}}{{ $path }}</span>
                </div>
                {{- partial "header.html" . -}}
            </header>

            {{- if $hasSearch }}
            <section class="page__search">
                {{- partial "search.html" . -}}
                {{- partial "tagcloud.html" . -}}
            </section>
            {{- end }}

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                {{- partial "about.html" . -}}
                <hr class="aside__sep">
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
