<!DOCTYPE html>
<html lang="{{- site.Language.Locale -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                <div class="titlebar">
                    <span class="titlebar__path">{{- $path := strings.TrimSuffix "/" .RelPermalink -}}{{ $path }}</span>
                    {{- if and (eq .Kind "section") (eq .Section "posts") }}
                    <span class="titlebar__hint">pulsa <kbd>/</kbd> para buscar</span>
                    {{- end }}
                </div>
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                {{- partial "about.html" . -}}
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
